.reddit-preview-container {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0;
  max-width: 100%;
}

.reddit-preview {
  flex-basis: 100px;
  flex-grow: 1;
  padding: 10px;
  margin: 0;
}

.reddit-preview > pre {
  margin: 0;
  overflow: auto;
}

.reddit-preview > pre, .reddit-preview > pre > code  {
  height: 100%;
  max-width: 100%;
}
